<form class="pure-form">
    <fieldset>
        <legend>A Stacked Form</legend>

        <label for="file">Log</label>
        <input id="file" name="file_handle" type="file" placeholder="Select File"> <i>or</i>
        <input id="file_input" name="file_" type="text" placeholder="Select File">


        <button type="submit" class="pure-button pure-button-primary">Save</button>
    </fieldset>
</form>
