<form class="pure-form pure-form-stacked" action="/logs" method="POST">
    <fieldset>
        <legend>Add new Log</legend>

        <label for="name">Name</label>
        <input id="name" name="log[name]" type="text" placeholder="Add name">

        <label for="path">Path</label>
        <input id="path" name="log[path]" type="text" placeholder="Add file path">


        <button type="submit" class="pure-button pure-button-primary">Save</button>
    </fieldset>
</form>
