<!DOCTYPE html>
<html lang="en" ng-app="logObserver">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>LogObserver</title>
	<link rel="stylesheet" href="/assets/styles.css" />
</head>
<body>
	<div class="pure-g">
		<div class="pure-u-1-4">
			{{> menu}}
		</div>
		<div class="pure-u-3-4">
			{{{ body }}}
		</div>
	</div>
	<script src="/socket.io/socket.io.js"></script>
	<script src="/assets/min/scripts-min.js"></script>
</body>
</html>
